body {
    margin: 0;
    background-color: #2C2B3D;
    color: white;
    font-family: 'Open Sans', sans-serif;

}

.page {
    margin: 0 auto 0;
    padding-top: 72px;
    width: 1100px;
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 101px;
}

nav img{
    width: 200px;
    height: 52;
}

ul {
    display: flex;
    gap: 64px;
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    line-height: 28px;
    font-style: normal;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a{
    opacity: 0.5;
}

ul li a:hover{
    opacity: 1.0;
    font-weight: bold;
}


a {
    text-decoration: none;
    color: inherit;
}

p span {
    color: #0063BF;
    font-weight: bold;
}

h1 {
    font-family: 'JetBrains Mono', monospace;
    font-size: 36px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
    width: 609px;
    margin-bottom: 36px;
}

h1 span {
    color: #0063BF;

}

main img{
    width: 401px;
    height: 300px;
    border-radius: 4px;
    text-align: center;
}

section{
    height: 311px;
}

section p {
    font-size: 16px;
    line-height: 28px;
    color: #C2C2C2;
    text-align: center;
    width: 604px;

}


footer {
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    line-height: 28px;
    font-style: normal;
    text-align: center;
}

.line {

    border: 1px solid #00BFA6;
    width: 568px;
    height: 0px;
    margin: 0 auto 27px;

}
